{% extends 'base.html.twig' %}

{% block title %}Modifier une offre{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-primary">Modifier une offre</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                {{ form_start(form) }}
                                
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.skillOffered) }}
                                        {{ form_row(form.skillWanted) }}
                                                                                {{ form_row(form.negotiable) }}


    <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
