{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
    <h1>Vos Conversations</h1>
    <ul>
        {% for conversation in conversations %}
            <li>
                <a href="{{ path('chat_conversation', { id: conversation.id }) }}">
                    Conversation avec 
                    {% if conversation.userOne == app.user %}
                        {{ conversation.userTwo.lastname }} {{ conversation.userTwo.firstname }}
                    {% else %}
                        {{ conversation.userOne.lastname }} {{ conversation.userOne.firstname }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
